:root {
  --ctp-latte-rosewater: 0.71518 0.118278 21.81;
  --ctp-latte-flamingo: 0.686595 0.132295 15.84;
  --ctp-latte-pink: 0.72766 0.117217 344.61;
  --ctp-latte-mauve: 0.556098 0.157041 247.27;
  --ctp-latte-red: 0.550741 0.205994 13.46;
  --ctp-latte-maroon: 0.625609 0.192266 14.24;
  --ctp-latte-peach: 0.691846 0.204921 24.41;
  --ctp-latte-yellow: 0.714312 0.145132 37;
  --ctp-latte-green: 0.62756 0.083723 116.36;
  --ctp-latte-teal: 0.60556 0.071416 190.61;
  --ctp-latte-sky: 0.68565 0.133564 210.69;
  --ctp-latte-sapphire: 0.651271 0.085109 198.73;
  --ctp-latte-blue: 0.558849 0.242916 216.71;
  --ctp-latte-lavender: 0.666393 0.139246 230.59;
  --ctp-latte-text: 0.437181 0.021575 256.23;
  --ctp-latte-subtext-1: 0.49388 0.017154 265.24;
  --ctp-latte-subtext-0: 0.549113 0.013684 277.56;
  --ctp-latte-overlay-2: 0.603066 0.011312 294.56;
  --ctp-latte-overlay-1: 0.65589 0.01031 315.61;
  --ctp-latte-overlay-0: 0.710172 0.009987 333.49;
  --ctp-latte-surface-2: 0.761041 0.011435 351.58;
  --ctp-latte-surface-1: 0.811094 0.013613 4.2;
  --ctp-latte-surface-0: 0.860403 0.016152 12.77;
  --ctp-latte-base: 0.96093 0.024842 25.11;
  --ctp-latte-mantle: 0.936581 0.021892 22.41;
  --ctp-latte-crust: 0.909029 0.018856 18.76;

  --ctp-mocha-rosewater: 0.925257 0.050283 24.62;
  --ctp-mocha-flamingo: 0.882126 0.062976 19.16;
  --ctp-mocha-pink: 0.872611 0.061572 353.82;
  --ctp-mocha-mauve: 0.790025 0.056178 292.4;
  --ctp-mocha-red: 0.757126 0.12296 6.57;
  --ctp-mocha-maroon: 0.783774 0.097053 11.56;
  --ctp-mocha-peach: 0.824966 0.118459 30.14;
  --ctp-mocha-yellow: 0.921491 0.080612 43.82;
  --ctp-mocha-green: 0.860745 0.054719 103.29;
  --ctp-mocha-teal: 0.862157 0.039428 164.11;
  --ctp-mocha-sky: 0.850576 0.054158 194.74;
  --ctp-mocha-sapphire: 0.79443 0.073705 208.06;
  --ctp-mocha-blue: 0.769847 0.081783 227.4;
  --ctp-mocha-lavender: 0.819882 0.049402 249.79;
  --ctp-mocha-text: 0.88189 0.014531 285.31;
  --ctp-mocha-subtext-1: 0.819828 0.013973 284.53;
  --ctp-mocha-subtext-0: 0.753736 0.014249 280.56;
  --ctp-mocha-overlay-2: 0.689062 0.013732 279.39;
  --ctp-mocha-overlay-1: 0.619869 0.014179 275.08;
  --ctp-mocha-overlay-0: 0.551747 0.01375 273.42;
  --ctp-mocha-surface-2: 0.478308 0.014474 268.68;
  --ctp-mocha-surface-1: 0.40523 0.014248 266.29;
  --ctp-mocha-surface-0: 0.325282 0.015541 260.78;
  --ctp-mocha-base: 0.243832 0.015995 256.72;
  --ctp-mocha-mantle: 0.216371 0.013071 258.59;
  --ctp-mocha-crust: 0.183498 0.010233 260.51;
}
