@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  @apply transition-all duration-150 ease-in-out;

  --background: oklch(0.96093 0.024842 25.11);
  --foreground: oklch(0.437181 0.021575 256.23);
  --card: oklch(0.936581 0.021892 22.41);
  --card-foreground: oklch(0.437181 0.021575 256.23);
  --popover: oklch(0.936581 0.021892 22.41);
  --popover-foreground: oklch(0.437181 0.021575 256.23);
  --primary: oklch(0.556098 0.157041 247.27);
  --primary-foreground: oklch(0.96093 0.024842 25.11);
  --secondary: oklch(0.811094 0.013613 4.2);
  --secondary-foreground: oklch(0.437181 0.021575 256.23);
  --muted: oklch(0.860403 0.016152 12.77);
  --muted-foreground: oklch(0.549113 0.013684 277.56);
  --accent: oklch(0.761041 0.011435 351.58);
  --accent-foreground: oklch(0.437181 0.021575 256.23);
  --destructive: oklch(0.550741 0.205994 13.46);
  --border: oklch(0.761041 0.011435 351.58);
  --input: oklch(0.811094 0.013613 4.2);
  --ring: oklch(0.666393 0.139246 230.59);
  --chart-1: oklch(0.558849 0.242916 216.71);
  --chart-2: oklch(0.62756 0.083723 116.36);
  --chart-3: oklch(0.714312 0.145132 37);
  --chart-4: oklch(0.691846 0.204921 24.41);
  --chart-5: oklch(0.556098 0.157041 247.27);
  --radius: 0.45rem;
  --sidebar: oklch(0.909029 0.018856 18.76);
  --sidebar-foreground: oklch(0.437181 0.021575 256.23);
  --sidebar-primary: oklch(0.556098 0.157041 247.27);
  --sidebar-primary-foreground: oklch(0.96093 0.024842 25.11);
  --sidebar-accent: oklch(0.811094 0.013613 4.2);
  --sidebar-accent-foreground: oklch(0.437181 0.021575 256.23);
  --sidebar-border: oklch(0.761041 0.011435 351.58);
  --sidebar-ring: oklch(0.666393 0.139246 230.59);
}

.dark {
  --background: oklch(0.243832 0.015995 256.72);
  --foreground: oklch(0.88189 0.014531 285.31);
  --card: oklch(0.325282 0.015541 260.78);
  --card-foreground: oklch(0.88189 0.014531 285.31);
  --popover: oklch(0.325282 0.015541 260.78);
  --popover-foreground: oklch(0.88189 0.014531 285.31);
  --primary: oklch(0.790025 0.056178 292.4);
  --primary-foreground: oklch(0.183498 0.010233 260.51);
  --secondary: oklch(0.40523 0.014248 266.29);
  --secondary-foreground: oklch(0.88189 0.014531 285.31);
  --muted: oklch(0.40523 0.014248 266.29);
  --muted-foreground: oklch(0.753736 0.014249 280.56);
  --accent: oklch(0.478308 0.014474 268.68);
  --accent-foreground: oklch(0.88189 0.014531 285.31);
  --destructive: oklch(0.757126 0.12296 6.57);
  --border: oklch(0.478308 0.014474 268.68);
  --input: oklch(0.40523 0.014248 266.29);
  --ring: oklch(0.819882 0.049402 249.79);
  --chart-1: oklch(0.769847 0.081783 227.4);
  --chart-2: oklch(0.860745 0.054719 103.29);
  --chart-3: oklch(0.921491 0.080612 43.82);
  --chart-4: oklch(0.824966 0.118459 30.14);
  --chart-5: oklch(0.790025 0.056178 292.4);
  --sidebar: oklch(0.216371 0.013071 258.59);
  --sidebar-foreground: oklch(0.88189 0.014531 285.31);
  --sidebar-primary: oklch(0.790025 0.056178 292.4);
  --sidebar-primary-foreground: oklch(0.183498 0.010233 260.51);
  --sidebar-accent: oklch(0.40523 0.014248 266.29);
  --sidebar-accent-foreground: oklch(0.88189 0.014531 285.31);
  --sidebar-border: oklch(0.478308 0.014474 268.68);
  --sidebar-ring: oklch(0.819882 0.049402 249.79);
}
@utility touch-hitbox {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
    z-index: 9999;
  }
}
@property --cx {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --cy {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}

@property --r {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

::view-transition-old(root) {
  animation: none;
  backface-visibility: hidden;
  contain: paint;
}

::view-transition-new(root) {
  animation: circle-in 1300ms ease-in-out both;
  will-change: clip-path;
  backface-visibility: hidden;
  transform: translateZ(0);
  contain: paint;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none !important;
  }
}
@keyframes circle-in {
  0% {
    --cx: var(--vt-x, 50%);
    --cy: var(--vt-y, 50%);
    --r: 0%;
    clip-path: circle(var(--r) at var(--cx) var(--cy));
  }
  100% {
    --cx: 10%;
    --cy: 90%;
    --r: 185%;
    clip-path: circle(var(--r) at var(--cx) var(--cy));
  }
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.TooltipContent {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: scaleIn 0.3s ease-in-out;
}
